In [2]:
# Importation des bibliothèques
import numpy as np
import pandas as pd

# Importation de l'API
from nba_api.stats.endpoints import leaguegamefinder

In [3]:
# Récupération du jeu de données
path = 'nba odds 2021-22.xlsx'
odds_df = pd.read_excel(path, usecols = ['Date', 'Team', '1st', '2nd', '3rd', '4th', 'Final', 'ML'])
odds_df.tail(10)

      Date          Team  1st  2nd  3rd  4th  Final     ML
2636   606        Boston   30   20   14   24     88    175
2637   606   GoldenState   31   21   35   20    107   -200
2638   608   GoldenState   22   34   33   11    100    135
2639   608        Boston   33   35   25   23    116   -155
2640   610   GoldenState   27   22   30   28    107    145
2641   610        Boston   28   26   24   19     97   -165
2642   613        Boston   16   23   35   20     94  +145
2643   613  Golden State   27   24   24   29    104   -165
2644   616  Golden State   27   27   22   27    103  +155
2645   616        Boston   22   17   27   24     90   -175

In [4]:
# Suppression des espaces dans les noms des équipes
odds_df.Team = odds_df.Team.str.replace(' ', '')
odds_df.tail(10)

      Date         Team  1st  2nd  3rd  4th  Final     ML
2636   606       Boston   30   20   14   24     88    175
2637   606  GoldenState   31   21   35   20    107   -200
2638   608  GoldenState   22   34   33   11    100    135
2639   608       Boston   33   35   25   23    116   -155
2640   610  GoldenState   27   22   30   28    107    145
2641   610       Boston   28   26   24   19     97   -165
2642   613       Boston   16   23   35   20     94  +145
2643   613  GoldenState   27   24   24   29    104   -165
2644   616  GoldenState   27   27   22   27    103  +155
2645   616       Boston   22   17   27   24     90   -175

In [5]:
# Création d'un dictionnaire pour remplacer les équipes par leurs noms officiels
team_name = {'Detroit': 'DetroitPistons', 'Washington': 'WashingtonWizards',
            'Dallas': 'DallasMavericks', 'Phoenix': 'PhoenixSuns',
            'NewOrleans': 'NewOrleansPelicans', 'LAClippers': 'LAClippers',
            'OklahomaCity': 'OklahomaCityThunder', 'GoldenState': 'GoldenStateWarriors',
            'Philadelphia': 'Philadelphia76ers', 'Indiana': 'IndianaPacers',
            'Miami': 'MiamiHeat', 'Toronto': 'TorontoRaptors',
            'Orlando': 'OrlandoMagic', 'NewYork': 'NewYorkKnicks',
            'Boston': 'BostonCeltics', 'Chicago': 'ChicagoBulls',
            'SanAntonio': 'SanAntonioSpurs', 'Portland': 'PortlandTrailBlazers',
            'Denver': 'DenverNuggets', 'Memphis': 'MemphisGrizzlies',
            'Brooklyn': 'BrooklynNets', 'Houston': 'HoustonRockets',
            'Utah': 'UtahJazz', 'Minnesota':'MinnesotaTimberwolves',
            'LALakers': 'LosAngelesLakers', 'Atlanta': 'AtlantaHawks',
            'Charlotte': 'CharlotteHornets', 'Cleveland': 'ClevelandCavaliers',
            'Sacramento': 'SacramentoKings', 'Milwaukee': 'MilwaukeeBucks'}
odds_df.replace({'Team': team_name}, inplace = True)

In [6]:
def format(date):
    'Fonction pour changer le format de l\'heure de notre dataframe'
    'Elle prend notre dataframe en entrée'
    'Elle nous retourne une date qui respecte le format AAAAMMJJ'
    
    year = path.split(' ')[2].split('.')[0].split('-')[0]
    
    if odds_df['Date'][0] <= date:
        return year + str(date)
    else:
        return str(int(year) + 1) + '0' + str(date)

In [7]:
# Formattage des données pour la création de notre identifiant
odds_df['Date'] = list(map(format, odds_df['Date']))
odds_df['ID'] = list(map(str, odds_df['Date'])) + odds_df['Team']
odds_df.tail(10)

,Date,Team,1st,2nd,3rd,4th,Final,ML,ID
2636,20220606,BostonCeltics,30,20,14,24,88,175,20220606BostonCeltics
2637,20220606,GoldenStateWarriors,31,21,35,20,107,-200,20220606GoldenStateWarriors
2638,20220608,GoldenStateWarriors,22,34,33,11,100,135,20220608GoldenStateWarriors
2639,20220608,BostonCeltics,33,35,25,23,116,-155,20220608BostonCeltics
2640,20220610,GoldenStateWarriors,27,22,30,28,107,145,20220610GoldenStateWarriors
2641,20220610,BostonCeltics,28,26,24,19,97,-165,20220610BostonCeltics
2642,20220613,BostonCeltics,16,23,35,20,94,+145,20220613BostonCeltics
2643,20220613,GoldenStateWarriors,27,24,24,29,104,-165,20220613GoldenStateWarriors
2644,20220616,GoldenStateWarriors,27,27,22,27,103,+155,20220616GoldenStateWarriors
2645,20220616,BostonCeltics,22,17,27,24,90,-175,20220616BostonCeltics

In [46]:
# Récupération du deuxième jeu de données
score_df = leaguegamefinder.LeagueGameFinder().get_data_frames()[0]
score_df.drop(['SEASON_ID', 'TEAM_ABBREVIATION', 'MIN'], axis = 1, inplace = True)
score_df.tail(10)

,TEAM_ID,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PTS,FGM,FGA,FG_PCT,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
29990,1612709921,Long Island Nets,2021600417,2017-03-08,LIN @ OKL,L,92,36,87,0.414,...,0.733,12,35,47,25,11,9,21,19,-6.0
29991,1610612761,Toronto Raptors,0021600953,2017-03-08,TOR @ NOP,W,94,36,76,0.474,...,0.609,8,34,42,21,6,6,11,18,7.0
29992,1610612759,San Antonio Spurs,0021600957,2017-03-08,SAS vs. SAC,W,114,42,84,0.500,...,0.762,6,37,43,33,9,5,12,15,10.0
29993,1610612738,Boston Celtics,0021600959,2017-03-08,BOS @ GSW,W,99,37,84,0.440,...,0.789,9,36,45,28,12,1,12,10,13.0
29994,1610612748,Miami Heat,0021600951,2017-03-08,MIA vs. CHA,W,108,37,85,0.435,...,0.708,13,33,46,22,8,7,12,18,7.0
29995,1610612751,Brooklyn Nets,0021600950,2017-03-08,BKN @ ATL,L,105,37,80,0.463,...,0.800,5,35,40,28,7,11,22,25,-5.0
29996,1610612740,New Orleans Pelicans,0021600953,2017-03-08,NOP vs. TOR,L,87,34,80,0.425,...,0.769,8,32,40,22,6,3,14,20,-7.0
29997,1610612750,Minnesota Timberwolves,0021600955,2017-03-08,MIN vs. LAC,W,107,42,86,0.488,...,0.900,14,36,50,26,10,4,12,23,16.0
29998,1612709903,Salt Lake City Stars,2021600419,2017-03-08,SLC vs. FWN,L,105,40,90,0.444,...,0.789,10,33,43,21,13,5,16,25,-11.0
29999,1610612744,Golden State Warriors,0021600959,2017-03-08,GSW vs. BOS,L,86,37,84,0.440,...,0.667,12,34,46,23,8,12,17,20,-13.0

In [9]:
# Suppression des tirets dans les dates et des espaces dans les noms des équipes
score_df.GAME_DATE = score_df.GAME_DATE.str.replace('-', '')
score_df.TEAM_NAME = score_df.TEAM_NAME.str.replace(' ', '')
score_df.tail(10)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
29990,22016,1610612766,CHA,CharlotteHornets,0021600951,20170308,CHA @ MIA,L,242,101,...,0.952,6,33,39,14,7,8,12,17,-7.0
29991,22016,1610612743,DEN,DenverNuggets,0021600958,20170308,DEN vs. WAS,L,241,113,...,0.471,10,29,39,31,6,2,16,16,-10.0
29992,22016,1610612765,DET,DetroitPistons,0021600956,20170308,DET @ IND,L,240,98,...,0.591,11,34,45,20,4,4,10,18,-17.0
29993,22016,1612709903,SLC,SaltLakeCityStars,2021600419,20170308,SLC vs. FWN,L,239,105,...,0.789,10,33,43,21,13,5,16,25,-11.0
29994,22016,1610612745,HOU,HoustonRockets,0021600954,20170308,HOU vs. UTA,L,241,108,...,0.750,10,21,31,22,9,4,8,20,-7.0
29995,22016,1610612749,MIL,MilwaukeeBucks,0021600952,20170308,MIL vs. NYK,W,240,104,...,0.786,12,34,46,26,9,4,8,13,11.0
29996,22016,1612709923,WCB,WindyCityBulls,2021600416,20170308,WCB vs. CTN,L,241,99,...,0.760,11,33,44,24,5,7,18,21,-14.0
29997,22016,1612709909,DEL,Delaware87ers,2021600418,20170308,DEL @ RGV,L,241,112,...,0.733,12,26,38,25,10,4,18,18,-24.0
29998,22016,1610612741,CHI,ChicagoBulls,0021600949,20170308,CHI @ ORL,L,240,91,...,0.636,9,35,44,24,3,4,16,16,-7.0
29999,22016,1612709902,SCW,SantaCruzWarriors,2021600420,20170308,SCW vs. RAP,W,238,128,...,0.656,4,26,30,27,13,3,12,25,6.0

In [44]:
# Suppression de la colonne MATCHUP et création des colonnes HOME et AWAY
score_df['HOME'] = [1 if '@' in score_df.MATCHUP[index] else 0 for index, row in score_df.iterrows()]
score_df['AWAY'] = [1 if 'vs.' in score_df.MATCHUP[index] else 0 for index, row in score_df.iterrows()]
score_df.drop(['MATCHUP'], axis = 1, inplace = True)
score_df.head(10)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,WL,MIN,PTS,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,HOME,AWAY
0,52022,1612709926,MHU,Memphis Hustle,2052200215,2022-12-13,W,276,132,46,...,27,46,26,13,5,17,20,2.0,0,1
1,22022,1610612762,UTA,Utah Jazz,0022200412,2022-12-13,W,241,121,49,...,40,59,31,4,10,19,23,21.0,0,1
2,22022,1610612758,SAC,Sacramento Kings,0022200409,2022-12-13,L,241,103,38,...,35,48,21,5,4,17,22,-20.0,1,0
3,22022,1610612756,PHX,Phoenix Suns,0022200411,2022-12-13,L,240,97,33,...,26,44,22,13,7,9,24,-14.0,1,0
4,22022,1610612749,MIL,Milwaukee Bucks,0022200410,2022-12-13,W,240,128,45,...,43,55,22,8,5,21,18,17.0,0,1
5,52022,1612709889,OKL,Oklahoma City Blue,2052200216,2022-12-13,L,241,105,38,...,29,35,29,8,3,16,13,-14.0,1,0
6,22022,1610612738,BOS,Boston Celtics,0022200413,2022-12-13,W,265,122,46,...,38,51,27,6,2,14,22,4.0,1,0
7,52022,1612709914,STO,Stockton Kings,2052200213,2022-12-13,W,240,128,50,...,43,53,33,7,5,13,25,34.4,0,1
8,22022,1610612755,PHI,Philadelphia 76ers,0022200409,2022-12-13,W,241,123,43,...,38,42,34,10,4,11,21,20.0,0,1
9,52022,1612709924,ONT,Ontario Clippers,2052200213,2022-12-13,L,240,85,32,...,23,30,20,8,2,18,21,-35.4,1,0

In [14]:
# Suppression de la colonne WL et création des colonnes W et L
score_df = pd.get_dummies(score_df , prefix = '', prefix_sep='', columns=['WL'])
score_df.tail(10)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,MIN,PTS,FGM,...,AST,STL,BLK,TOV,PF,PLUS_MINUS,HOME,AWAY,L,W
0,22022,1610612738,BOS,BostonCeltics,0022200413,20221213,BOS @ LAL,265,122,46,...,27,6,2,14,22,4.0,1,0,0,1
1,52022,1612709903,SLC,SaltLakeCityStars,2052200216,20221213,SLC vs. OKL,240,119,45,...,28,8,6,13,23,14.0,0,1,0,1
2,22022,1610612745,HOU,HoustonRockets,0022200411,20221213,HOU vs. PHX,241,111,34,...,16,6,9,22,21,14.0,0,1,0,1
3,22022,1610612762,UTA,UtahJazz,0022200412,20221213,UTA vs. NOP,241,121,49,...,31,4,10,19,23,21.0,0,1,0,1
4,52022,1612709919,WES,WestchesterKnicks,2052200214,20221213,WES @ LIN,239,107,40,...,15,14,1,23,20,-7.6,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,22016,1610612749,MIL,MilwaukeeBucks,0021600952,20170308,MIL vs. NYK,240,104,37,...,26,9,4,8,13,11.0,0,1,0,1
29996,22016,1612709923,WCB,WindyCityBulls,2021600416,20170308,WCB vs. CTN,241,99,35,...,24,5,7,18,21,-14.0,0,1,1,0
29997,22016,1612709909,DEL,Delaware87ers,2021600418,20170308,DEL @ RGV,241,112,42,...,25,10,4,18,18,-24.0,1,0,1,0
29998,22016,1610612741,CHI,ChicagoBulls,0021600949,20170308,CHI @ ORL,240,91,36,...,24,3,4,16,16,-7.0,1,0,1,0
29999,22016,1612709902,SCW,SantaCruzWarriors,2021600420,20170308,SCW vs. RAP,238,128,46,...,27,13,3,12,25,6.0,0,1,0,1

In [15]:
teams = ['AtlantaHawks','BrooklynNets','BostonCeltics', 'CharlotteHornets', 'ChicagoBulls', 'ClevelandCavaliers', 'DallasMavericks', 'DenverNuggets', 'DetroitPistons', 'GoldenStateWarriors', 'HoustonRockets', 'IndianaPacers', 'LAClippers', 'LosAngelesLakers', 'MemphisGrizzlies', 'MiamiHeat','MilwaukeeBucks','MinnesotaTimberwolves','NewOrleansPelicans', 'NewYorkKnicks', 'OklahomaCityThunder', 'OrlandoMagic', 'Philadelphia76ers', 'PhoenixSuns', 'PortlandTrailBlazers', 'SacramentoKings', 'SanAntonioSpurs', 'TorontoRaptors', 'UtahJazz', 'WashingtonWizards']

In [16]:
to_delete = score_df.drop(score_df[score_df['TEAM_NAME'].isin(teams)].index)
to_delete

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,MIN,PTS,FGM,...,AST,STL,BLK,TOV,PF,PLUS_MINUS,HOME,AWAY,L,W
1,52022,1612709903,SLC,SaltLakeCityStars,2052200216,20221213,SLC vs. OKL,240,119,45,...,28,8,6,13,23,14.0,0,1,0,1
4,52022,1612709919,WES,WestchesterKnicks,2052200214,20221213,WES @ LIN,239,107,40,...,15,14,1,23,20,-7.6,1,0,1,0
5,52022,1612709914,STO,StocktonKings,2052200213,20221213,STO vs. ONT,240,128,50,...,33,7,5,13,25,34.4,0,1,0,1
9,52022,1612709925,LAK,LakelandMagic,2052200215,20221213,LAK @ MHU,276,130,46,...,26,7,3,20,25,-2.0,1,0,1,0
10,52022,1612709889,OKL,OklahomaCityBlue,2052200216,20221213,OKL @ SLC,241,105,38,...,29,8,3,16,13,-14.0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29987,22016,1612709919,WES,WestchesterKnicks,2021600421,20170309,WES @ MNE,240,94,41,...,19,9,4,12,19,-16.0,1,0,1,0
29993,22016,1612709903,SLC,SaltLakeCityStars,2021600419,20170308,SLC vs. FWN,239,105,40,...,21,13,5,16,25,-11.0,0,1,1,0
29996,22016,1612709923,WCB,WindyCityBulls,2021600416,20170308,WCB vs. CTN,241,99,35,...,24,5,7,18,21,-14.0,0,1,1,0
29997,22016,1612709909,DEL,Delaware87ers,2021600418,20170308,DEL @ RGV,241,112,42,...,25,10,4,18,18,-24.0,1,0,1,0
29999,22016,1612709902,SCW,SantaCruzWarriors,2021600420,20170308,SCW vs. RAP,238,128,46,...,27,13,3,12,25,6.0,0,1,0,1

In [17]:
game_to_delete = to_delete['GAME_ID'].unique()
game_to_delete

array(['2052200216', '2052200214', '2052200213', ..., '2021600416',
       '2021600418', '2021600420'], dtype=object)

## Conservation des données NBA

In [18]:
score_df.drop(score_df[~score_df['TEAM_NAME'].isin(teams)].index, inplace=True)

In [19]:
score_df.drop(score_df[score_df['GAME_ID'].isin(game_to_delete)].index, inplace=True)

In [20]:
score_df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,MIN,PTS,FGM,...,AST,STL,BLK,TOV,PF,PLUS_MINUS,HOME,AWAY,L,W
0,22022,1610612738,BOS,BostonCeltics,0022200413,20221213,BOS @ LAL,265,122,46,...,27,6,2,14,22,4.0,1,0,0,1
2,22022,1610612745,HOU,HoustonRockets,0022200411,20221213,HOU vs. PHX,241,111,34,...,16,6,9,22,21,14.0,0,1,0,1
3,22022,1610612762,UTA,UtahJazz,0022200412,20221213,UTA vs. NOP,241,121,49,...,31,4,10,19,23,21.0,0,1,0,1
6,22022,1610612744,GSW,GoldenStateWarriors,0022200410,20221213,GSW @ MIL,239,111,38,...,25,7,2,18,22,-17.0,1,0,1,0
7,22022,1610612740,NOP,NewOrleansPelicans,0022200412,20221213,NOP @ UTA,239,100,37,...,25,12,3,17,17,-21.0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29991,22016,1610612743,DEN,DenverNuggets,0021600958,20170308,DEN vs. WAS,241,113,46,...,31,6,2,16,16,-10.0,0,1,1,0
29992,22016,1610612765,DET,DetroitPistons,0021600956,20170308,DET @ IND,240,98,39,...,20,4,4,10,18,-17.0,1,0,1,0
29994,22016,1610612745,HOU,HoustonRockets,0021600954,20170308,HOU vs. UTA,241,108,35,...,22,9,4,8,20,-7.0,0,1,1,0
29995,22016,1610612749,MIL,MilwaukeeBucks,0021600952,20170308,MIL vs. NYK,240,104,37,...,26,9,4,8,13,11.0,0,1,0,1
29998,22016,1610612741,CHI,ChicagoBulls,0021600949,20170308,CHI @ ORL,240,91,36,...,24,3,4,16,16,-7.0,1,0,1,0

In [21]:
df['ID'] = df['GAME_DATE'] + df['TEAM_NAME']

NameError: name 'df' is not defined

In [ ]:
df.head()

Empty DataFrame
Columns: [SEASON_ID, TEAM_ID, TEAM_ABBREVIATION, TEAM_NAME, GAME_ID, GAME_DATE, MATCHUP, MIN, PTS, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PLUS_MINUS, L, W]
Index: []

[0 rows x 29 columns]

In [ ]:
df_merge = df.merge(dataframe, left_on = 'ID', right_on='ID')

In [ ]:
df_merge = df_merge.astype({"ML": int})
df_merge

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,MIN,PTS,FGM,...,W,ID,Date,Team,1st,2nd,3rd,4th,Final,ML
0,42021,1610612738,BOS,BostonCeltics,0042100406,20220616,BOS vs. GSW,239,90,34,...,0,20220616BostonCeltics,20220616,BostonCeltics,22,17,27,24,90,-175
1,42021,1610612744,GSW,GoldenStateWarriors,0042100406,20220616,GSW @ BOS,241,103,38,...,1,20220616GoldenStateWarriors,20220616,GoldenStateWarriors,27,27,22,27,103,155
2,42021,1610612738,BOS,BostonCeltics,0042100405,20220613,BOS @ GSW,238,94,31,...,0,20220613BostonCeltics,20220613,BostonCeltics,16,23,35,20,94,145
3,42021,1610612744,GSW,GoldenStateWarriors,0042100405,20220613,GSW vs. BOS,240,104,41,...,1,20220613GoldenStateWarriors,20220613,GoldenStateWarriors,27,24,24,29,104,-165
4,42021,1610612738,BOS,BostonCeltics,0042100404,20220610,BOS vs. GSW,241,97,34,...,0,20220610BostonCeltics,20220610,BostonCeltics,28,26,24,19,97,-165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2639,22021,1610612750,MIN,MinnesotaTimberwolves,0022100008,20211020,MIN vs. HOU,242,124,42,...,1,20211020MinnesotaTimberwolves,20211020,MinnesotaTimberwolves,32,40,27,25,124,-260
2640,22021,1610612751,BKN,BrooklynNets,0022100001,20211019,BKN @ MIL,241,104,37,...,0,20211019BrooklynNets,20211019,BrooklynNets,25,34,26,19,104,105
2641,22021,1610612749,MIL,MilwaukeeBucks,0022100001,20211019,MIL vs. BKN,239,127,48,...,1,20211019MilwaukeeBucks,20211019,MilwaukeeBucks,37,29,31,30,127,-125
2642,22021,1610612747,LAL,LosAngelesLakers,0022100002,20211019,LAL vs. GSW,241,114,45,...,0,20211019LosAngelesLakers,20211019,LosAngelesLakers,34,25,26,29,114,-160
2643,22021,1610612744,GSW,GoldenStateWarriors,0022100002,20211019,GSW @ LAL,240,121,41,...,1,20211019GoldenStateWarriors,20211019,GoldenStateWarriors,32,21,30,38,121,140

In [ ]:
df_merge['Team'].unique()

array(['BostonCeltics', 'GoldenStateWarriors', 'MiamiHeat',
       'DallasMavericks', 'PhoenixSuns', 'MilwaukeeBucks',
       'MemphisGrizzlies', 'Philadelphia76ers', 'MinnesotaTimberwolves',
       'TorontoRaptors', 'NewOrleansPelicans', 'UtahJazz', 'ChicagoBulls',
       'DenverNuggets', 'AtlantaHawks', 'BrooklynNets',
       'ClevelandCavaliers', 'LAClippers', 'SanAntonioSpurs',
       'CharlotteHornets', 'IndianaPacers', 'PortlandTrailBlazers',
       'OklahomaCityThunder', 'LosAngelesLakers', 'NewYorkKnicks',
       'SacramentoKings', 'DetroitPistons', 'OrlandoMagic',
       'WashingtonWizards', 'HoustonRockets'], dtype=object)

Changement côte US -> EUROPE

In [ ]:
def CHANGE_ODDS(x):
    return round(1 + x / 100 , 2) if x > 0 else round(1 + 100 / np.abs(x),2)

In [ ]:
df_merge['New_ML'] = df_merge['ML'].apply(lambda x : CHANGE_ODDS(x))
df_merge

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,MIN,PTS,FGM,...,ID,Date,Team,1st,2nd,3rd,4th,Final,ML,New_ML
0,42021,1610612738,BOS,BostonCeltics,0042100406,20220616,BOS vs. GSW,239,90,34,...,20220616BostonCeltics,20220616,BostonCeltics,22,17,27,24,90,-175,1.57
1,42021,1610612744,GSW,GoldenStateWarriors,0042100406,20220616,GSW @ BOS,241,103,38,...,20220616GoldenStateWarriors,20220616,GoldenStateWarriors,27,27,22,27,103,155,2.55
2,42021,1610612738,BOS,BostonCeltics,0042100405,20220613,BOS @ GSW,238,94,31,...,20220613BostonCeltics,20220613,BostonCeltics,16,23,35,20,94,145,2.45
3,42021,1610612744,GSW,GoldenStateWarriors,0042100405,20220613,GSW vs. BOS,240,104,41,...,20220613GoldenStateWarriors,20220613,GoldenStateWarriors,27,24,24,29,104,-165,1.61
4,42021,1610612738,BOS,BostonCeltics,0042100404,20220610,BOS vs. GSW,241,97,34,...,20220610BostonCeltics,20220610,BostonCeltics,28,26,24,19,97,-165,1.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2639,22021,1610612750,MIN,MinnesotaTimberwolves,0022100008,20211020,MIN vs. HOU,242,124,42,...,20211020MinnesotaTimberwolves,20211020,MinnesotaTimberwolves,32,40,27,25,124,-260,1.38
2640,22021,1610612751,BKN,BrooklynNets,0022100001,20211019,BKN @ MIL,241,104,37,...,20211019BrooklynNets,20211019,BrooklynNets,25,34,26,19,104,105,2.05
2641,22021,1610612749,MIL,MilwaukeeBucks,0022100001,20211019,MIL vs. BKN,239,127,48,...,20211019MilwaukeeBucks,20211019,MilwaukeeBucks,37,29,31,30,127,-125,1.80
2642,22021,1610612747,LAL,LosAngelesLakers,0022100002,20211019,LAL vs. GSW,241,114,45,...,20211019LosAngelesLakers,20211019,LosAngelesLakers,34,25,26,29,114,-160,1.62
2643,22021,1610612744,GSW,GoldenStateWarriors,0022100002,20211019,GSW @ LAL,240,121,41,...,20211019GoldenStateWarriors,20211019,GoldenStateWarriors,32,21,30,38,121,140,2.40

In [ ]:
df_merge.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS', 'HOME', 'AWAY', 'L', 'W', 'ID',
       'Date', 'Team', '1st', '2nd', '3rd', '4th', 'Final', 'ML', 'New_ML'],
      dtype='object')