In [131]:
import pandas as pd

In [132]:
path = 'nba odds 2021-22.xlsx'
dataframe = pd.read_excel(path, usecols = ['Date', 'Team', '1st', '2nd', '3rd', '4th', 'Final', 'ML'])
dataframe.head()

   Date         Team  1st  2nd  3rd  4th  Final    ML
0  1019     Brooklyn   25   34   26   19    104   105
1  1019    Milwaukee   37   29   31   30    127  -125
2  1019  GoldenState   32   21   30   38    121   140
3  1019     LALakers   34   25   26   29    114  -160
4  1020      Indiana   38   37   13   34    122  -125

In [133]:
for i in range(len(dataframe)):
    dataframe['Team'].iloc[i] = dataframe['Team'][i].replace(' ','')

/Users/thomasmanaut/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [134]:
team_name = {'Detroit': 'DetroitPistons', 'Washington': 'WashingtonWizards',
            'Dallas': 'DallasMavericks', 'Phoenix': 'PhoenixSuns',
            'NewOrleans': 'NewOrleansPelicans', 'LAClippers': 'LAClippers',
            'OklahomaCity': 'OklahomaCityThunder', 'GoldenState': 'GoldenStateWarriors',
            'Philadelphia': 'Philadelphia76ers', 'Indiana': 'IndianaPacers',
            'Miami': 'MiamiHeat', 'Toronto': 'TorontoRaptors',
            'Orlando': 'OrlandoMagic', 'NewYork': 'NewYorkKnicks',
            'Boston': 'BostonCeltics', 'Chicago': 'ChicagoBulls',
            'SanAntonio': 'SanAntonioSpurs', 'Portland': 'PortlandTrailBlazers',
            'Denver': 'DenverNuggets', 'Memphis': 'MemphisGrizzlies',
            'Brooklyn': 'BrooklynNets', 'Houston': 'HoustonRockets',
            'Utah': 'UtahJazz', 'Minnesota':'MinnesotaTimberwolves',
            'LALakers': 'LosAngelesLakers', 'Atlanta': 'AtlantaHawks',
            'Charlotte': 'CharlotteHornets', 'Cleveland': 'ClevelandCavaliers',
            'Sacramento': 'SacramentoKings', 'Milwaukee': 'MilwaukeeBucks'}
dataframe.replace({'Team': team_name}, inplace = True)

In [135]:
def format(date):
    year = path.split(' ')[2].split('.')[0].split('-')[0]
    
    if dataframe['Date'][0] <= date:
        return year + str(date)
    else:
        return str(int(year) + 1) + '0' + str(date)

dataframe['Date'] = list(map(format, dataframe['Date']))

In [136]:
dataframe['ID'] = list(map(str, dataframe['Date'])) + dataframe['Team']
dataframe.head()

,Date,Team,1st,2nd,3rd,4th,Final,ML,ID
0,20211019,BrooklynNets,25,34,26,19,104,105,20211019BrooklynNets
1,20211019,MilwaukeeBucks,37,29,31,30,127,-125,20211019MilwaukeeBucks
2,20211019,GoldenStateWarriors,32,21,30,38,121,140,20211019GoldenStateWarriors
3,20211019,LosAngelesLakers,34,25,26,29,114,-160,20211019LosAngelesLakers
4,20211020,IndianaPacers,38,37,13,34,122,-125,20211020IndianaPacers

In [137]:
dataframe['Date'].max()

'20220616'

In [155]:
import pandas as pd
import numpy as np
from nba_api.stats.endpoints import leaguegamefinder

df = leaguegamefinder.LeagueGameFinder().get_data_frames()[0]

df.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,52022,1612709926,MHU,Memphis Hustle,2052200066,2022-11-15,MHU @ AUS,L,648,99,...,0.917,10,42,52,21,10,2,19,23,-3.0
1,22022,1610612746,LAC,LA Clippers,0022200207,2022-11-15,LAC @ DAL,L,239,101,...,0.808,3,37,40,23,8,2,21,27,-2.0
2,22022,1610612742,DAL,Dallas Mavericks,0022200207,2022-11-15,DAL vs. LAC,W,240,103,...,0.667,8,26,34,20,12,1,12,20,2.0
3,22022,1610612762,UTA,Utah Jazz,0022200208,2022-11-15,UTA vs. NYK,L,241,111,...,0.833,15,34,49,29,7,5,20,22,-7.0
4,22022,1610612752,NYK,New York Knicks,0022200208,2022-11-15,NYK @ UTA,W,240,118,...,0.760,13,30,43,26,10,3,12,25,7.0

In [156]:
for i in range(len(df)):
    df['GAME_DATE'].iloc[i]= df['GAME_DATE'][i].replace('-','')
    df['TEAM_NAME'].iloc[i] = df['TEAM_NAME'][i].replace(' ','')

/Users/thomasmanaut/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [157]:
df['HOME'] = df['AWAY'] = 0
df.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,HOME,AWAY
0,52022,1612709926,MHU,MemphisHustle,2052200066,20221115,MHU @ AUS,L,648,99,...,42,52,21,10,2,19,23,-3.0,0,0
1,22022,1610612746,LAC,LAClippers,0022200207,20221115,LAC @ DAL,L,239,101,...,37,40,23,8,2,21,27,-2.0,0,0
2,22022,1610612742,DAL,DallasMavericks,0022200207,20221115,DAL vs. LAC,W,240,103,...,26,34,20,12,1,12,20,2.0,0,0
3,22022,1610612762,UTA,UtahJazz,0022200208,20221115,UTA vs. NYK,L,241,111,...,34,49,29,7,5,20,22,-7.0,0,0
4,22022,1610612752,NYK,NewYorkKnicks,0022200208,20221115,NYK @ UTA,W,240,118,...,30,43,26,10,3,12,25,7.0,0,0

In [158]:
for i in range(len(df)):
    if df['MATCHUP'][i][4:5] == '@':
        df['HOME'][i] = 1
    else:
        df['AWAY'][i] = 1

<ipython-input-158-02910a99bda9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HOME'][i] = 1
<ipython-input-158-02910a99bda9>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['AWAY'][i] = 1

In [159]:
temp = df
df.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,HOME,AWAY
0,52022,1612709926,MHU,MemphisHustle,2052200066,20221115,MHU @ AUS,L,648,99,...,42,52,21,10,2,19,23,-3.0,1,0
1,22022,1610612746,LAC,LAClippers,0022200207,20221115,LAC @ DAL,L,239,101,...,37,40,23,8,2,21,27,-2.0,1,0
2,22022,1610612742,DAL,DallasMavericks,0022200207,20221115,DAL vs. LAC,W,240,103,...,26,34,20,12,1,12,20,2.0,0,1
3,22022,1610612762,UTA,UtahJazz,0022200208,20221115,UTA vs. NYK,L,241,111,...,34,49,29,7,5,20,22,-7.0,0,1
4,22022,1610612752,NYK,NewYorkKnicks,0022200208,20221115,NYK @ UTA,W,240,118,...,30,43,26,10,3,12,25,7.0,1,0

In [148]:
#df = temp

In [160]:
df = pd.get_dummies(df,prefix='', prefix_sep='', columns=['WL'])
df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,MIN,PTS,FGM,...,AST,STL,BLK,TOV,PF,PLUS_MINUS,HOME,AWAY,L,W
0,52022,1612709926,MHU,MemphisHustle,2052200066,20221115,MHU @ AUS,648,99,38,...,21,10,2,19,23,-3.0,1,0,1,0
1,22022,1610612746,LAC,LAClippers,0022200207,20221115,LAC @ DAL,239,101,34,...,23,8,2,21,27,-2.0,1,0,1,0
2,22022,1610612742,DAL,DallasMavericks,0022200207,20221115,DAL vs. LAC,240,103,35,...,20,12,1,12,20,2.0,0,1,0,1
3,22022,1610612762,UTA,UtahJazz,0022200208,20221115,UTA vs. NYK,241,111,36,...,29,7,5,20,22,-7.0,0,1,1,0
4,22022,1610612752,NYK,NewYorkKnicks,0022200208,20221115,NYK @ UTA,240,118,44,...,26,10,3,12,25,7.0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,22016,1610612761,TOR,TorontoRaptors,0021600732,20170201,TOR @ BOS,240,104,41,...,17,6,5,15,29,-5.0,1,0,1,0
29996,22016,1610612744,GSW,GoldenStateWarriors,0021600741,20170201,GSW vs. CHA,240,126,47,...,35,9,13,10,18,15.0,0,1,0,1
29997,22016,1612709905,LAD,LosAngelesD-Fenders,2021600292,20170201,LAD @ TEX,241,116,41,...,26,8,3,13,15,2.0,1,0,0,1
29998,22016,1612709900,NAS,NorthernArizonaSuns,2021600293,20170201,NAS vs. SLC,239,92,33,...,8,8,6,15,23,-23.0,0,1,1,0
29999,22016,1612709914,RNO,RenoBighorns,2021600294,20170201,RNO vs. IWA,240,104,40,...,21,13,7,12,20,-2.0,0,1,1,0

In [161]:
teams = ['AtlantaHawks','BrooklynNets','BostonCeltics', 'CharlotteHornets', 'ChicagoBulls', 'ClevelandCavaliers', 'DallasMavericks', 'DenverNuggets', 'DetroitPistons', 'GoldenStateWarriors', 'HoustonRockets', 'IndianaPacers', 'LAClippers', 'LosAngelesLakers', 'MemphisGrizzlies', 'MiamiHeat','MilwaukeeBucks','MinnesotaTimberwolves','NewOrleansPelicans', 'NewYorkKnicks', 'OklahomaCityThunder', 'OrlandoMagic', 'Philadelphia76ers', 'PhoenixSuns', 'PortlandTrailBlazers', 'SacramentoKings', 'SanAntonioSpurs', 'TorontoRaptors', 'UtahJazz', 'WashingtonWizards']

In [162]:
to_delete = df.drop(df[df['TEAM_NAME'].isin(teams)].index)
to_delete

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,MIN,PTS,FGM,...,AST,STL,BLK,TOV,PF,PLUS_MINUS,HOME,AWAY,L,W
0,52022,1612709926,MHU,MemphisHustle,2052200066,20221115,MHU @ AUS,648,99,38,...,21,10,2,19,23,-3.0,1,0,1,0
5,52022,1612709924,ONT,OntarioClippers,2052200067,20221115,ONT vs. STO,239,116,40,...,25,7,3,19,21,4.0,0,1,0,1
6,52022,1612709914,STO,StocktonKings,2052200067,20221115,STO @ ONT,241,112,41,...,25,13,6,13,23,-4.0,1,0,1,0
9,52022,1612709913,BIR,BirminghamSquadron,2052200065,20221115,BIR vs. LAK,238,128,47,...,25,11,6,15,17,7.0,0,1,1,0
13,52022,1612709925,LAK,LakelandMagic,2052200065,20221115,LAK @ BIR,241,131,52,...,35,7,3,19,23,-7.4,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29987,22016,1612709918,TEX,TexasLegends,2021600292,20170201,TEX vs. LAD,241,114,47,...,26,7,5,17,24,-2.0,0,1,1,0
29990,22016,1612709921,LIN,LongIslandNets,2021600290,20170201,LIN vs. WCB,239,117,42,...,26,10,3,16,12,8.0,0,1,0,1
29997,22016,1612709905,LAD,LosAngelesD-Fenders,2021600292,20170201,LAD @ TEX,241,116,41,...,26,8,3,13,15,2.0,1,0,0,1
29998,22016,1612709900,NAS,NorthernArizonaSuns,2021600293,20170201,NAS vs. SLC,239,92,33,...,8,8,6,15,23,-23.0,0,1,1,0
29999,22016,1612709914,RNO,RenoBighorns,2021600294,20170201,RNO vs. IWA,240,104,40,...,21,13,7,12,20,-2.0,0,1,1,0

In [163]:
game_to_delete = to_delete['GAME_ID'].unique()
game_to_delete

array(['2052200066', '2052200067', '2052200065', ..., '2021600293',
       '2021600291', '2021600292'], dtype=object)

## Conservation des données NBA

In [164]:
df.drop(df[~df['TEAM_NAME'].isin(teams)].index, inplace=True)

In [165]:
df.drop(df[df['GAME_ID'].isin(game_to_delete)].index, inplace=True)

In [166]:
df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,MIN,PTS,FGM,...,AST,STL,BLK,TOV,PF,PLUS_MINUS,HOME,AWAY,L,W
1,22022,1610612746,LAC,LAClippers,0022200207,20221115,LAC @ DAL,239,101,34,...,23,8,2,21,27,-2.0,1,0,1,0
2,22022,1610612742,DAL,DallasMavericks,0022200207,20221115,DAL vs. LAC,240,103,35,...,20,12,1,12,20,2.0,0,1,0,1
3,22022,1610612762,UTA,UtahJazz,0022200208,20221115,UTA vs. NYK,241,111,36,...,29,7,5,20,22,-7.0,0,1,1,0
4,22022,1610612752,NYK,NewYorkKnicks,0022200208,20221115,NYK @ UTA,240,118,44,...,26,10,3,12,25,7.0,1,0,0,1
7,22022,1610612757,POR,PortlandTrailBlazers,0022200209,20221115,POR vs. SAS,241,117,41,...,22,6,3,15,17,7.0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29992,22016,1610612762,UTA,UtahJazz,0021600738,20170201,UTA vs. MIL,240,104,36,...,22,11,2,15,23,16.0,0,1,0,1
29993,22016,1610612752,NYK,NewYorkKnicks,0021600733,20170201,NYK @ BKN,240,95,35,...,23,16,7,13,18,5.0,1,0,0,1
29994,22016,1610612742,DAL,DallasMavericks,0021600736,20170201,DAL vs. PHI,241,113,40,...,22,10,4,11,19,18.0,0,1,0,1
29995,22016,1610612761,TOR,TorontoRaptors,0021600732,20170201,TOR @ BOS,240,104,41,...,17,6,5,15,29,-5.0,1,0,1,0
29996,22016,1610612744,GSW,GoldenStateWarriors,0021600741,20170201,GSW vs. CHA,240,126,47,...,35,9,13,10,18,15.0,0,1,0,1

/Users/thomasmanaut/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [167]:
df['ID'] = df['GAME_DATE'] + df['TEAM_NAME']

In [168]:
df.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,MIN,PTS,FGM,...,STL,BLK,TOV,PF,PLUS_MINUS,HOME,AWAY,L,W,ID
1,22022,1610612746,LAC,LAClippers,0022200207,20221115,LAC @ DAL,239,101,34,...,8,2,21,27,-2.0,1,0,1,0,20221115LAClippers
2,22022,1610612742,DAL,DallasMavericks,0022200207,20221115,DAL vs. LAC,240,103,35,...,12,1,12,20,2.0,0,1,0,1,20221115DallasMavericks
3,22022,1610612762,UTA,UtahJazz,0022200208,20221115,UTA vs. NYK,241,111,36,...,7,5,20,22,-7.0,0,1,1,0,20221115UtahJazz
4,22022,1610612752,NYK,NewYorkKnicks,0022200208,20221115,NYK @ UTA,240,118,44,...,10,3,12,25,7.0,1,0,0,1,20221115NewYorkKnicks
7,22022,1610612757,POR,PortlandTrailBlazers,0022200209,20221115,POR vs. SAS,241,117,41,...,6,3,15,17,7.0,0,1,0,1,20221115PortlandTrailBlazers

In [169]:
df_merge = df.merge(dataframe, left_on = 'ID', right_on='ID')

In [170]:
df_merge = df_merge.astype({"ML": int})
df_merge

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,MIN,PTS,FGM,...,W,ID,Date,Team,1st,2nd,3rd,4th,Final,ML
0,42021,1610612738,BOS,BostonCeltics,0042100406,20220616,BOS vs. GSW,239,90,34,...,0,20220616BostonCeltics,20220616,BostonCeltics,22,17,27,24,90,-175
1,42021,1610612744,GSW,GoldenStateWarriors,0042100406,20220616,GSW @ BOS,241,103,38,...,1,20220616GoldenStateWarriors,20220616,GoldenStateWarriors,27,27,22,27,103,155
2,42021,1610612738,BOS,BostonCeltics,0042100405,20220613,BOS @ GSW,238,94,31,...,0,20220613BostonCeltics,20220613,BostonCeltics,16,23,35,20,94,145
3,42021,1610612744,GSW,GoldenStateWarriors,0042100405,20220613,GSW vs. BOS,240,104,41,...,1,20220613GoldenStateWarriors,20220613,GoldenStateWarriors,27,24,24,29,104,-165
4,42021,1610612738,BOS,BostonCeltics,0042100404,20220610,BOS vs. GSW,241,97,34,...,0,20220610BostonCeltics,20220610,BostonCeltics,28,26,24,19,97,-165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2639,22021,1610612758,SAC,SacramentoKings,0022100013,20211020,SAC @ POR,240,124,42,...,1,20211020SacramentoKings,20211020,SacramentoKings,24,38,38,24,124,220
2640,22021,1610612749,MIL,MilwaukeeBucks,0022100001,20211019,MIL vs. BKN,239,127,48,...,1,20211019MilwaukeeBucks,20211019,MilwaukeeBucks,37,29,31,30,127,-125
2641,22021,1610612747,LAL,LosAngelesLakers,0022100002,20211019,LAL vs. GSW,241,114,45,...,0,20211019LosAngelesLakers,20211019,LosAngelesLakers,34,25,26,29,114,-160
2642,22021,1610612744,GSW,GoldenStateWarriors,0022100002,20211019,GSW @ LAL,240,121,41,...,1,20211019GoldenStateWarriors,20211019,GoldenStateWarriors,32,21,30,38,121,140
2643,22021,1610612751,BKN,BrooklynNets,0022100001,20211019,BKN @ MIL,241,104,37,...,0,20211019BrooklynNets,20211019,BrooklynNets,25,34,26,19,104,105

In [171]:
df_merge['Team'].unique()

array(['BostonCeltics', 'GoldenStateWarriors', 'MiamiHeat',
       'DallasMavericks', 'PhoenixSuns', 'MilwaukeeBucks',
       'MemphisGrizzlies', 'Philadelphia76ers', 'MinnesotaTimberwolves',
       'TorontoRaptors', 'NewOrleansPelicans', 'UtahJazz',
       'DenverNuggets', 'ChicagoBulls', 'AtlantaHawks', 'BrooklynNets',
       'LAClippers', 'ClevelandCavaliers', 'SanAntonioSpurs',
       'CharlotteHornets', 'WashingtonWizards', 'HoustonRockets',
       'OrlandoMagic', 'IndianaPacers', 'LosAngelesLakers',
       'PortlandTrailBlazers', 'SacramentoKings', 'OklahomaCityThunder',
       'DetroitPistons', 'NewYorkKnicks'], dtype=object)

Changement côte US -> EUROPE

In [172]:
def CHANGE_ODDS(x):
    return round(1 + x / 100 , 2) if x > 0 else round(1 + 100 / np.abs(x),2)

In [173]:
df_merge['New_ML'] = df_merge['ML'].apply(lambda x : CHANGE_ODDS(x))
df_merge

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,MIN,PTS,FGM,...,ID,Date,Team,1st,2nd,3rd,4th,Final,ML,New_ML
0,42021,1610612738,BOS,BostonCeltics,0042100406,20220616,BOS vs. GSW,239,90,34,...,20220616BostonCeltics,20220616,BostonCeltics,22,17,27,24,90,-175,1.57
1,42021,1610612744,GSW,GoldenStateWarriors,0042100406,20220616,GSW @ BOS,241,103,38,...,20220616GoldenStateWarriors,20220616,GoldenStateWarriors,27,27,22,27,103,155,2.55
2,42021,1610612738,BOS,BostonCeltics,0042100405,20220613,BOS @ GSW,238,94,31,...,20220613BostonCeltics,20220613,BostonCeltics,16,23,35,20,94,145,2.45
3,42021,1610612744,GSW,GoldenStateWarriors,0042100405,20220613,GSW vs. BOS,240,104,41,...,20220613GoldenStateWarriors,20220613,GoldenStateWarriors,27,24,24,29,104,-165,1.61
4,42021,1610612738,BOS,BostonCeltics,0042100404,20220610,BOS vs. GSW,241,97,34,...,20220610BostonCeltics,20220610,BostonCeltics,28,26,24,19,97,-165,1.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2639,22021,1610612758,SAC,SacramentoKings,0022100013,20211020,SAC @ POR,240,124,42,...,20211020SacramentoKings,20211020,SacramentoKings,24,38,38,24,124,220,3.20
2640,22021,1610612749,MIL,MilwaukeeBucks,0022100001,20211019,MIL vs. BKN,239,127,48,...,20211019MilwaukeeBucks,20211019,MilwaukeeBucks,37,29,31,30,127,-125,1.80
2641,22021,1610612747,LAL,LosAngelesLakers,0022100002,20211019,LAL vs. GSW,241,114,45,...,20211019LosAngelesLakers,20211019,LosAngelesLakers,34,25,26,29,114,-160,1.62
2642,22021,1610612744,GSW,GoldenStateWarriors,0022100002,20211019,GSW @ LAL,240,121,41,...,20211019GoldenStateWarriors,20211019,GoldenStateWarriors,32,21,30,38,121,140,2.40
2643,22021,1610612751,BKN,BrooklynNets,0022100001,20211019,BKN @ MIL,241,104,37,...,20211019BrooklynNets,20211019,BrooklynNets,25,34,26,19,104,105,2.05