In [2]:
import pandas as pd

In [3]:
path = 'nba odds 2021-22.xlsx'
dataframe = pd.read_excel(path, usecols = ['Date', 'Team', '1st', '2nd', '3rd', '4th', 'Final', 'ML'])
dataframe.head()

   Date         Team  1st  2nd  3rd  4th  Final    ML
0  1019     Brooklyn   25   34   26   19    104   105
1  1019    Milwaukee   37   29   31   30    127  -125
2  1019  GoldenState   32   21   30   38    121   140
3  1019     LALakers   34   25   26   29    114  -160
4  1020      Indiana   38   37   13   34    122  -125

In [4]:
for i in range(len(dataframe)):
    dataframe['Team'].iloc[i] = dataframe['Team'][i].replace(' ','')

/var/folders/rw/2fryk5v90sz0469cnwrqhb5h0000gn/T/ipykernel_23820/3075092627.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['Team'].iloc[i] = dataframe['Team'][i].replace(' ','')

In [5]:
team_name = {'Detroit': 'DetroitPistons', 'Washington': 'WashingtonWizards',
            'Dallas': 'DallasMavericks', 'Phoenix': 'PhoenixSuns',
            'NewOrleans': 'NewOrleansPelicans', 'LAClippers': 'LAClippers',
            'OklahomaCity': 'OklahomaCityThunder', 'GoldenState': 'GoldenStateWarriors',
            'Philadelphia': 'Philadelphia76ers', 'Indiana': 'IndianaPacers',
            'Miami': 'MiamiHeat', 'Toronto': 'TorontoRaptors',
            'Orlando': 'OrlandoMagic', 'NewYork': 'NewYorkKnicks',
            'Boston': 'BostonCeltics', 'Chicago': 'ChicagoBulls',
            'SanAntonio': 'SanAntonioSpurs', 'Portland': 'PortlandTrailBlazers',
            'Denver': 'DenverNuggets', 'Memphis': 'MemphisGrizzlies',
            'Brooklyn': 'BrooklynNets', 'Houston': 'HoustonRockets',
            'Utah': 'UtahJazz', 'Minnesota':'MinnesotaTimberwolves',
            'LALakers': 'LosAngelesLakers', 'Atlanta': 'AtlantaHawks',
            'Charlotte': 'CharlotteHornets', 'Cleveland': 'ClevelandCavaliers',
            'Sacramento': 'SacramentoKings', 'Milwaukee': 'MilwaukeeBucks'}
dataframe.replace({'Team': team_name}, inplace = True)

In [5]:
def format(date):
    year = path.split(' ')[2].split('.')[0].split('-')[0]
    
    if dataframe['Date'][0] <= date:
        return year + str(date)
    else:
        return str(int(year) + 1) + '0' + str(date)

dataframe['Date'] = list(map(format, dataframe['Date']))

In [6]:
dataframe['ID'] = list(map(str, dataframe['Date'])) + dataframe['Team']
dataframe.head()

,Date,Team,1st,2nd,3rd,4th,Final,ML,ID
0,20211019,BrooklynNets,25,34,26,19,104,105,20211019BrooklynNets
1,20211019,MilwaukeeBucks,37,29,31,30,127,-125,20211019MilwaukeeBucks
2,20211019,GoldenStateWarriors,32,21,30,38,121,140,20211019GoldenStateWarriors
3,20211019,LosAngelesLakers,34,25,26,29,114,-160,20211019LosAngelesLakers
4,20211020,IndianaPacers,38,37,13,34,122,-125,20211020IndianaPacers

In [7]:
dataframe['Date'].max()

'20220616'

In [10]:
pip install nba_api

Collecting nba_api
  Downloading nba_api-1.1.14-py3-none-any.whl (254 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 254.9/254.9 kB 3.4 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: requests in /Users/thomasmanaut/opt/anaconda3/lib/python3.9/site-packages (from nba_api) (2.28.1)
Collecting numpy<2.0.0,>=1.22.2
  Downloading numpy-1.23.5-cp39-cp39-macosx_10_9_x86_64.whl (18.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.1/18.1 MB 19.6 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: certifi>=2017.4.17 in /Users/thomasmanaut/opt/anaconda3/lib/python3.9/site-packages (from requests->nba_api) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /Users/thomasmanaut/opt/anaconda3/lib/python3.9/site-packages (from requests->nba_api) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/thomasmanaut/opt/anaconda3/lib/python3.9/site-packages (from requests->nba_api) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/thomasmanaut/opt/anaconda3/lib/python3.9/site-packages (from requests->nba_api) (2.0.4)
Installing collected packages: numpy, nba_api
  Attempting uninstall: numpy
    Found existing installation: numpy 1.21.5
    Uninstalling numpy-1.21.5:
      Successfully uninstalled numpy-1.21.5
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
daal4py 2021.6.0 requires daal==2021.4.0, which is not installed.
numba 0.55.1 requires numpy<1.22,>=1.18, but you have numpy 1.23.5 which is incompatible.
Successfully installed nba_api-1.1.14 numpy-1.23.5
Note: you may need to restart the kernel to use updated packages.

In [55]:
import pandas as pd
import numpy as np
from nba_api.stats.endpoints import leaguegamefinder

df = leaguegamefinder.LeagueGameFinder().get_data_frames()[0]

df.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,52022,1612709893,CLC,Cleveland Charge,2052200137,2022-11-29,CLC vs. SXF,W,241,126,...,0.833,7,33,40,32,4,8,13,20,14.8
1,52022,1612709903,SLC,Salt Lake City Stars,2052200142,2022-11-29,SLC @ SBL,L,239,120,...,0.800,15,33,48,23,6,4,13,31,-5.0
2,52022,1612709905,SBL,South Bay Lakers,2052200142,2022-11-29,SBL vs. SLC,W,240,125,...,0.741,13,31,44,20,5,12,13,18,5.0
3,22022,1610612752,NYK,New York Knicks,0022200309,2022-11-29,NYK @ DET,W,239,140,...,0.762,17,34,51,31,9,1,14,19,30.0
4,52022,1612709913,BIR,Birmingham Squadron,2052200136,2022-11-29,BIR @ RGV,L,239,102,...,0.857,13,26,39,21,10,1,21,24,-4.4

In [56]:
for i in range(len(df)):
    df['GAME_DATE'].iloc[i]= df['GAME_DATE'][i].replace('-','')
    df['TEAM_NAME'].iloc[i] = df['TEAM_NAME'][i].replace(' ','')

/var/folders/rw/2fryk5v90sz0469cnwrqhb5h0000gn/T/ipykernel_20198/800381822.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GAME_DATE'].iloc[i]= df['GAME_DATE'][i].replace('-','')
/var/folders/rw/2fryk5v90sz0469cnwrqhb5h0000gn/T/ipykernel_20198/800381822.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TEAM_NAME'].iloc[i] = df['TEAM_NAME'][i].replace(' ','')

In [57]:
df['HOME'] = df['AWAY'] = 0
df.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,HOME,AWAY
0,52022,1612709893,CLC,ClevelandCharge,2052200137,20221129,CLC vs. SXF,W,241,126,...,33,40,32,4,8,13,20,14.8,0,0
1,52022,1612709903,SLC,SaltLakeCityStars,2052200142,20221129,SLC @ SBL,L,239,120,...,33,48,23,6,4,13,31,-5.0,0,0
2,52022,1612709905,SBL,SouthBayLakers,2052200142,20221129,SBL vs. SLC,W,240,125,...,31,44,20,5,12,13,18,5.0,0,0
3,22022,1610612752,NYK,NewYorkKnicks,0022200309,20221129,NYK @ DET,W,239,140,...,34,51,31,9,1,14,19,30.0,0,0
4,52022,1612709913,BIR,BirminghamSquadron,2052200136,20221129,BIR @ RGV,L,239,102,...,26,39,21,10,1,21,24,-4.4,0,0

In [14]:
for i in range(len(df)):
    if df['MATCHUP'][i][4:5] == '@':
        df['HOME'][i] = 1
    else:
        df['AWAY'][i] = 1

/var/folders/rw/2fryk5v90sz0469cnwrqhb5h0000gn/T/ipykernel_20198/2306866935.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['AWAY'][i] = 1
/var/folders/rw/2fryk5v90sz0469cnwrqhb5h0000gn/T/ipykernel_20198/2306866935.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HOME'][i] = 1

In [15]:
temp = df
df.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,HOME,AWAY
0,52022,1612709909,DEL,DelawareBlueCoats,2052200138,20221129,DEL vs. MNE,W,240,125,...,33,44,28,17,6,15,22,-2.4,0,1
1,22022,1610612744,GSW,GoldenStateWarriors,0022200310,20221129,GSW @ DAL,L,241,113,...,40,50,27,6,3,18,23,-3.0,1,0
2,52022,1612709915,MNE,MaineCeltics,2052200138,20221129,MNE @ DEL,L,240,123,...,39,57,30,9,9,25,17,3.4,1,0
3,22022,1610612742,DAL,DallasMavericks,0022200310,20221129,DAL vs. GSW,W,239,116,...,31,39,21,7,4,13,21,3.0,0,1
4,22022,1610612757,POR,PortlandTrailBlazers,0022200311,20221129,POR vs. LAC,L,240,112,...,34,43,24,6,7,11,23,-6.0,0,1

In [53]:
#df = temp

In [54]:
df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,HOME,AWAY
0,52022,1612709909,DEL,DelawareBlueCoats,2052200138,20221129,MNE,W,240,125,...,33,44,28,17,6,15,22,-2.4,0,1
1,22022,1610612744,GSW,GoldenStateWarriors,0022200310,20221129,DAL,L,241,113,...,40,50,27,6,3,18,23,-3.0,1,0
2,52022,1612709915,MNE,MaineCeltics,2052200138,20221129,DEL,L,240,123,...,39,57,30,9,9,25,17,3.4,1,0
3,22022,1610612742,DAL,DallasMavericks,0022200310,20221129,GSW,W,239,116,...,31,39,21,7,4,13,21,3.0,0,1
4,22022,1610612757,POR,PortlandTrailBlazers,0022200311,20221129,LAC,L,240,112,...,34,43,24,6,7,11,23,-6.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,22016,1610612763,MEM,MemphisGrizzlies,0021600840,20170215,NOP,L,239,91,...,35,48,22,8,3,15,19,-4.0,0,1
29996,22016,1610612760,OKC,OklahomaCityThunder,0021600845,20170215,NYK,W,240,116,...,36,48,21,10,4,12,13,11.0,0,1
29997,22016,1610612755,PHI,Philadelphia76ers,0021600836,20170215,BOS,L,240,108,...,35,47,23,16,5,22,23,-8.0,1,0
29998,22016,1610612738,BOS,BostonCeltics,0021600836,20170215,PHI,W,239,116,...,33,39,21,13,4,22,18,8.0,0,1
29999,22016,1610612761,TOR,TorontoRaptors,0021600837,20170215,CHA,W,240,90,...,38,46,19,8,4,14,13,5.0,0,1

In [33]:
df = pd.get_dummies(df,prefix='', prefix_sep='', columns=['WL'])
df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,MIN,PTS,FGM,...,AST,STL,BLK,TOV,PF,PLUS_MINUS,HOME,AWAY,L,W
0,52022,1612709909,DEL,DelawareBlueCoats,2052200138,20221129,DEL vs. MNE,240,125,49,...,28,17,6,15,22,-2.4,0,1,0,1
1,22022,1610612744,GSW,GoldenStateWarriors,0022200310,20221129,GSW @ DAL,241,113,42,...,27,6,3,18,23,-3.0,1,0,1,0
2,52022,1612709915,MNE,MaineCeltics,2052200138,20221129,MNE @ DEL,240,123,47,...,30,9,9,25,17,3.4,1,0,1,0
3,22022,1610612742,DAL,DallasMavericks,0022200310,20221129,DAL vs. GSW,239,116,42,...,21,7,4,13,21,3.0,0,1,0,1
4,22022,1610612757,POR,PortlandTrailBlazers,0022200311,20221129,POR vs. LAC,240,112,42,...,24,6,7,11,23,-6.0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,22016,1610612763,MEM,MemphisGrizzlies,0021600840,20170215,MEM vs. NOP,239,91,33,...,22,8,3,15,19,-4.0,0,1,1,0
29996,22016,1610612760,OKC,OklahomaCityThunder,0021600845,20170215,OKC vs. NYK,240,116,41,...,21,10,4,12,13,11.0,0,1,0,1
29997,22016,1610612755,PHI,Philadelphia76ers,0021600836,20170215,PHI @ BOS,240,108,44,...,23,16,5,22,23,-8.0,1,0,1,0
29998,22016,1610612738,BOS,BostonCeltics,0021600836,20170215,BOS vs. PHI,239,116,38,...,21,13,4,22,18,8.0,0,1,0,1
29999,22016,1610612761,TOR,TorontoRaptors,0021600837,20170215,TOR vs. CHA,240,90,32,...,19,8,4,14,13,5.0,0,1,0,1

In [34]:
df.rename({'W': 'WIN', 'L': 'LOSE'}, axis=1, inplace = True)  
df

In [18]:
teams = ['AtlantaHawks','BrooklynNets','BostonCeltics', 'CharlotteHornets', 'ChicagoBulls', 'ClevelandCavaliers', 'DallasMavericks', 'DenverNuggets', 'DetroitPistons', 'GoldenStateWarriors', 'HoustonRockets', 'IndianaPacers', 'LAClippers', 'LosAngelesLakers', 'MemphisGrizzlies', 'MiamiHeat','MilwaukeeBucks','MinnesotaTimberwolves','NewOrleansPelicans', 'NewYorkKnicks', 'OklahomaCityThunder', 'OrlandoMagic', 'Philadelphia76ers', 'PhoenixSuns', 'PortlandTrailBlazers', 'SacramentoKings', 'SanAntonioSpurs', 'TorontoRaptors', 'UtahJazz', 'WashingtonWizards']

In [19]:
to_delete = df.drop(df[df['TEAM_NAME'].isin(teams)].index)
to_delete

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,MIN,PTS,FGM,...,AST,STL,BLK,TOV,PF,PLUS_MINUS,HOME,AWAY,L,W
0,52022,1612709909,DEL,DelawareBlueCoats,2052200138,20221129,DEL vs. MNE,240,125,49,...,28,17,6,15,22,-2.4,0,1,0,1
2,52022,1612709915,MNE,MaineCeltics,2052200138,20221129,MNE @ DEL,240,123,47,...,30,9,9,25,17,3.4,1,0,1,0
5,52022,1612709926,MHU,MemphisHustle,2052200141,20221129,MHU vs. TEX,239,129,50,...,31,10,5,17,22,-24.2,0,1,1,0
6,52022,1612709913,BIR,BirminghamSquadron,2052200136,20221129,BIR @ RGV,239,102,39,...,21,10,1,21,24,-4.4,1,0,1,0
7,52022,1612709917,GRG,GrandRapidsGold,2052200139,20221129,GRG vs. WIS,248,129,49,...,29,17,7,9,18,0.0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29985,32016,1610616839,EST,EastCelebritiesEast,0031600003,20170217,EST @ WST,241,88,35,...,17,8,2,15,9,29.0,1,0,0,1
29986,32016,1610616840,WST,WestCelebritiesWest,0031600003,20170217,WST vs. EST,238,57,23,...,10,12,2,11,16,-29.0,0,1,1,0
29987,32016,1610616840,WST,WestCelebritiesWest,0031600003,20170217,WST vs. EST,0,2,1,...,0,0,0,0,0,0.0,0,1,0,0
29988,32016,1610616843,USA,USAUSA,0031600002,20170217,USA vs. WLD,199,141,60,...,22,9,2,16,6,-1.0,0,1,1,0
29989,32016,1610616844,WLD,WorldWorld,0031600002,20170217,WLD @ USA,202,150,63,...,37,8,1,13,9,1.6,1,0,0,1

In [20]:
game_to_delete = to_delete['GAME_ID'].unique()
game_to_delete

array(['2052200138', '2052200141', '2052200136', ..., '2031600001',
       '0031600003', '0031600002'], dtype=object)

## Conservation des données NBA

In [21]:
df.drop(df[~df['TEAM_NAME'].isin(teams)].index, inplace=True)

In [22]:
df.drop(df[df['GAME_ID'].isin(game_to_delete)].index, inplace=True)

In [23]:
df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,MIN,PTS,FGM,...,AST,STL,BLK,TOV,PF,PLUS_MINUS,HOME,AWAY,L,W
1,22022,1610612744,GSW,GoldenStateWarriors,0022200310,20221129,GSW @ DAL,241,113,42,...,27,6,3,18,23,-3.0,1,0,1,0
3,22022,1610612742,DAL,DallasMavericks,0022200310,20221129,DAL vs. GSW,239,116,42,...,21,7,4,13,21,3.0,0,1,0,1
4,22022,1610612757,POR,PortlandTrailBlazers,0022200311,20221129,POR vs. LAC,240,112,42,...,24,6,7,11,23,-6.0,0,1,1,0
12,22022,1610612746,LAC,LAClippers,0022200311,20221129,LAC @ POR,240,118,41,...,26,6,7,13,18,6.0,1,0,0,1
15,22022,1610612752,NYK,NewYorkKnicks,0022200309,20221129,NYK @ DET,239,140,54,...,31,9,1,14,19,30.0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,22016,1610612763,MEM,MemphisGrizzlies,0021600840,20170215,MEM vs. NOP,239,91,33,...,22,8,3,15,19,-4.0,0,1,1,0
29996,22016,1610612760,OKC,OklahomaCityThunder,0021600845,20170215,OKC vs. NYK,240,116,41,...,21,10,4,12,13,11.0,0,1,0,1
29997,22016,1610612755,PHI,Philadelphia76ers,0021600836,20170215,PHI @ BOS,240,108,44,...,23,16,5,22,23,-8.0,1,0,1,0
29998,22016,1610612738,BOS,BostonCeltics,0021600836,20170215,BOS vs. PHI,239,116,38,...,21,13,4,22,18,8.0,0,1,0,1
29999,22016,1610612761,TOR,TorontoRaptors,0021600837,20170215,TOR vs. CHA,240,90,32,...,19,8,4,14,13,5.0,0,1,0,1

In [24]:
df['ID'] = df['GAME_DATE'] + df['TEAM_NAME']

In [25]:
df.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,MIN,PTS,FGM,...,STL,BLK,TOV,PF,PLUS_MINUS,HOME,AWAY,L,W,ID
1,22022,1610612744,GSW,GoldenStateWarriors,0022200310,20221129,GSW @ DAL,241,113,42,...,6,3,18,23,-3.0,1,0,1,0,20221129GoldenStateWarriors
3,22022,1610612742,DAL,DallasMavericks,0022200310,20221129,DAL vs. GSW,239,116,42,...,7,4,13,21,3.0,0,1,0,1,20221129DallasMavericks
4,22022,1610612757,POR,PortlandTrailBlazers,0022200311,20221129,POR vs. LAC,240,112,42,...,6,7,11,23,-6.0,0,1,1,0,20221129PortlandTrailBlazers
12,22022,1610612746,LAC,LAClippers,0022200311,20221129,LAC @ POR,240,118,41,...,6,7,13,18,6.0,1,0,0,1,20221129LAClippers
15,22022,1610612752,NYK,NewYorkKnicks,0022200309,20221129,NYK @ DET,239,140,54,...,9,1,14,19,30.0,1,0,0,1,20221129NewYorkKnicks

In [26]:
df_merge = df.merge(dataframe, left_on = 'ID', right_on='ID')

In [27]:
df_merge = df_merge.astype({"ML": int})
df_merge

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,MIN,PTS,FGM,...,W,ID,Date,Team,1st,2nd,3rd,4th,Final,ML
0,42021,1610612744,GSW,GoldenStateWarriors,0042100406,20220616,GSW @ BOS,241,103,38,...,1,20220616GoldenStateWarriors,20220616,GoldenStateWarriors,27,27,22,27,103,155
1,42021,1610612738,BOS,BostonCeltics,0042100406,20220616,BOS vs. GSW,239,90,34,...,0,20220616BostonCeltics,20220616,BostonCeltics,22,17,27,24,90,-175
2,42021,1610612744,GSW,GoldenStateWarriors,0042100405,20220613,GSW vs. BOS,240,104,41,...,1,20220613GoldenStateWarriors,20220613,GoldenStateWarriors,27,24,24,29,104,-165
3,42021,1610612738,BOS,BostonCeltics,0042100405,20220613,BOS @ GSW,238,94,31,...,0,20220613BostonCeltics,20220613,BostonCeltics,16,23,35,20,94,145
4,42021,1610612744,GSW,GoldenStateWarriors,0042100404,20220610,GSW @ BOS,241,107,40,...,1,20220610GoldenStateWarriors,20220610,GoldenStateWarriors,27,22,30,28,107,145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2639,22021,1610612759,SAS,SanAntonioSpurs,0022100010,20211020,SAS vs. ORL,239,123,49,...,1,20211020SanAntonioSpurs,20211020,SanAntonioSpurs,32,29,33,29,123,-265
2640,22021,1610612744,GSW,GoldenStateWarriors,0022100002,20211019,GSW @ LAL,240,121,41,...,1,20211019GoldenStateWarriors,20211019,GoldenStateWarriors,32,21,30,38,121,140
2641,22021,1610612749,MIL,MilwaukeeBucks,0022100001,20211019,MIL vs. BKN,239,127,48,...,1,20211019MilwaukeeBucks,20211019,MilwaukeeBucks,37,29,31,30,127,-125
2642,22021,1610612751,BKN,BrooklynNets,0022100001,20211019,BKN @ MIL,241,104,37,...,0,20211019BrooklynNets,20211019,BrooklynNets,25,34,26,19,104,105
2643,22021,1610612747,LAL,LosAngelesLakers,0022100002,20211019,LAL vs. GSW,241,114,45,...,0,20211019LosAngelesLakers,20211019,LosAngelesLakers,34,25,26,29,114,-160

In [28]:
df_merge['Team'].unique()

array(['GoldenStateWarriors', 'BostonCeltics', 'MiamiHeat',
       'DallasMavericks', 'MilwaukeeBucks', 'PhoenixSuns',
       'MemphisGrizzlies', 'Philadelphia76ers', 'MinnesotaTimberwolves',
       'UtahJazz', 'TorontoRaptors', 'NewOrleansPelicans',
       'DenverNuggets', 'ChicagoBulls', 'AtlantaHawks', 'BrooklynNets',
       'ClevelandCavaliers', 'LAClippers', 'SanAntonioSpurs',
       'CharlotteHornets', 'HoustonRockets', 'DetroitPistons',
       'OrlandoMagic', 'IndianaPacers', 'LosAngelesLakers',
       'SacramentoKings', 'PortlandTrailBlazers', 'WashingtonWizards',
       'NewYorkKnicks', 'OklahomaCityThunder'], dtype=object)

Changement côte US -> EUROPE

In [29]:
def CHANGE_ODDS(x):
    return round(1 + x / 100 , 2) if x > 0 else round(1 + 100 / np.abs(x),2)

In [30]:
df_merge['New_ML'] = df_merge['ML'].apply(lambda x : CHANGE_ODDS(x))
df_merge

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,MIN,PTS,FGM,...,ID,Date,Team,1st,2nd,3rd,4th,Final,ML,New_ML
0,42021,1610612744,GSW,GoldenStateWarriors,0042100406,20220616,GSW @ BOS,241,103,38,...,20220616GoldenStateWarriors,20220616,GoldenStateWarriors,27,27,22,27,103,155,2.55
1,42021,1610612738,BOS,BostonCeltics,0042100406,20220616,BOS vs. GSW,239,90,34,...,20220616BostonCeltics,20220616,BostonCeltics,22,17,27,24,90,-175,1.57
2,42021,1610612744,GSW,GoldenStateWarriors,0042100405,20220613,GSW vs. BOS,240,104,41,...,20220613GoldenStateWarriors,20220613,GoldenStateWarriors,27,24,24,29,104,-165,1.61
3,42021,1610612738,BOS,BostonCeltics,0042100405,20220613,BOS @ GSW,238,94,31,...,20220613BostonCeltics,20220613,BostonCeltics,16,23,35,20,94,145,2.45
4,42021,1610612744,GSW,GoldenStateWarriors,0042100404,20220610,GSW @ BOS,241,107,40,...,20220610GoldenStateWarriors,20220610,GoldenStateWarriors,27,22,30,28,107,145,2.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2639,22021,1610612759,SAS,SanAntonioSpurs,0022100010,20211020,SAS vs. ORL,239,123,49,...,20211020SanAntonioSpurs,20211020,SanAntonioSpurs,32,29,33,29,123,-265,1.38
2640,22021,1610612744,GSW,GoldenStateWarriors,0022100002,20211019,GSW @ LAL,240,121,41,...,20211019GoldenStateWarriors,20211019,GoldenStateWarriors,32,21,30,38,121,140,2.40
2641,22021,1610612749,MIL,MilwaukeeBucks,0022100001,20211019,MIL vs. BKN,239,127,48,...,20211019MilwaukeeBucks,20211019,MilwaukeeBucks,37,29,31,30,127,-125,1.80
2642,22021,1610612751,BKN,BrooklynNets,0022100001,20211019,BKN @ MIL,241,104,37,...,20211019BrooklynNets,20211019,BrooklynNets,25,34,26,19,104,105,2.05
2643,22021,1610612747,LAL,LosAngelesLakers,0022100002,20211019,LAL vs. GSW,241,114,45,...,20211019LosAngelesLakers,20211019,LosAngelesLakers,34,25,26,29,114,-160,1.62

In [31]:
df_merge.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS', 'HOME', 'AWAY', 'L', 'W', 'ID',
       'Date', 'Team', '1st', '2nd', '3rd', '4th', 'Final', 'ML', 'New_ML'],
      dtype='object')